<div class="card" style="width: 20rem;">
  <img [src]="course.imageUrl" class="card-img-top img-fluid" style="height: 150px; object-fit: cover;" alt="Course Image">
  <div class="card-body">
    <a class="card-title" style="font-size: 18px; font-weight: bold; text-decoration: none;">{{course.title}}</a>
    <p style="font-weight:lighter;">{{course.category}}</p>
    <p style="color: blue;">{{course.instructor}}</p>
    <p><strong><i class="bi bi-calendar-check"></i> Duration - {{course.duration}} Weeks</strong></p>
    <p>{{course.description}}</p>
    <app-star-rating [rating]="course.rating"></app-star-rating><a >  {{course.rating}}/5</a>
    <br>
    <a [routerLink]="['/courses', course.id]" class="btn btn-primary m-1" *ngIf="canView()">View Course</a>
    <a [routerLink]="['/updatecourse', course.id]" class="btn btn-outline-secondary m-1" *ngIf="canUpdate()">Update Course</a>
    <button class="btn btn-danger" (click)="deleteCourse(course.id)" *ngIf="canDelete()">Delete</button>
  </div>
</div>
